html {
  height: 100%;
  margin: 0;
  font-family: Arial;
  color: #ffffff;
  background-color: #FFCFCF;
}

.main h1 {
  padding-top: 40px;
  padding-left: 30px;
}
.main p {
  padding-left: 30px;
  width: 55%;
  min-width: 550px;
}

ul {
  padding-left: 30px;
  width: 55%;
  min-width: 550px;
}
